.menu_level_2 {
  padding-left: 15px;
}
.menu_level_3 {
  padding-left: 30px;
}
.page-toc a {
  color: #555;
}
.page-toc a:hover {
  color: #222;
  text-decoration: underline;
}

.content .code {
  overflow-x: scroll;
}